
.elemento-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;

    .imagen-carrito{
        width: 10rem;
    }
}

#carrito{
    .botones{
        display: flex;
        flex-direction: row;

        button{
            margin-top: 1rem;
        }
    }
}